body{
  padding-top: 70px;
}
nav.navbar.navbar-default.navbar-cg{
  background-color: #4caf50;
}
div.disabled{
  span.check{
    border-color: #888;
  }
}
table{
  th {
    i.fa {
      font-size: 20px;
      &:hover, &.active {
        color: #4caf50;
      }
      &.fa-chevron-circle-up{
        margin-right: 5px;
      }
    }
  }
  tr.info{
    color: #888 !important;
    a{
      color: #888 !important;
    }
  }
  tr{
    td {
      a {
        color: #4caf50;
      }
    }
    &.tweeted {
      background-color: #28A9E0 !important;
      color: #fff;
      td{
        a {
          color: #444;
          &:hover {
            color: #000;
          }
        }
        i.fa{
          font-size: 1.5em;
          cursor: pointer;
        }
        .checkbox-primary input[type=checkbox]:checked + .checkbox-material .check,
        .checkbox-primary input[type=checkbox]:checked + .checkbox-material .check:before{
          color: #fff !important;
        }
      }
    }
  }
}
.checkbox-primary input[type=checkbox]:checked + .checkbox-material .check,
.checkbox-primary input[type=checkbox]:checked + .checkbox-material .check:before{
  color: #4caf50;
}
section#main-content{
  div.at-form{
    width: 50%;
    margin: 10% auto 0;
    div.at-title{
      h3.header{
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  section#main-content{
    div.at-form{
      width: 80%;
    }
  }
}
.pagination{
  border-radius: 0px;
  margin-bottom: 0px;
  > li:first-child,  > li:last-child {
    > a, > span{
      border-radius: 0px;
      color: #4caf50;
    }
  }
  li {
    display: inline-block;
    border: none;
    margin-left: 10px;
    &:first-child{
      margin-left: 0px;
    }
    a {
      color: #4caf50;
      font-size: 1.5em;
      padding: 5px 15px;
      border: none;
    }
    &:hover a, > a:hover {
      color: #38833b;
    }
    &.active a, &.active a:active, &.active a:focus, &.active a:hover, &.active a:visited, &.active:hover a{
      background-color: #4caf50;
      border-color: #4caf50;
      outline: none;
    }
  }
}
div.tweets-list{
  margin-top: 20px;
}

div.-autocomplete-container{
  ul.-autocomplete-list{
    li.-autocomplete-item:hover, li.-autocomplete-item.selected {
      background-color: #4caf50 !important;
    }
  }
}

tr {
  td{
    a.edit-hash-tag {
      display: none;
      color: #777;
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 100%;
      &:hover{
        color: #000;
      }
    }
  }
  &.selected {
    background-color: #4caf50 !important;
    color: #fff;
    td {
      a.edit-hash-tag {
        display: inline-block;
      }
      input{
        color: #333;
      }
    }
  }
}



