<template name="communities">
    {{> navbar }}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Top-Level Communities</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-7 hidden-xs">Name</th>
                            <th class="col-md-3 hidden-xs"># Hashtags</th>
                            <th class="col-md-2 hidden-xs">@ Mentions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each communities}}
                            <tr class="{{selectedRow}}">
                                <td class="col-md-7">
                                    <strong class="hidden-sm hidden-md hidden-lg">Name:</strong> {{ name}}
                                    <div class="visible-xs">
                                        {{> communityHashtags }}
                                        {{> communityMentions }}
                                    </div>
                                </td>
                                <td class="col-md-3 hashTag hidden-xs">
                                    {{> communityHashtags }}
                                </td>
                                <td class="col-md-2 hashTag hidden-xs">
                                    {{> communityMentions }}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="communityHashtags">
    <div>
        <strong class="hidden-sm hidden-md hidden-lg">Hashtags:</strong>
        {{#unless editHashtagsMode}}
            {{ hashtagsString }} <a class="edit-hashtags-button" href="#"><i class="fa fa-pencil"></i></a>
        {{else}}
            {{> communityHashtagsEditForm}}
        {{/unless}}
    </div>
</template>

<template name="communityHashtagsEditForm">
    <input id="edit-hashtags" type="text" value="{{hashtagsString}}" autofocus="autofocus"/>
</template>

<template name="communityMentions">
    <div>
        <strong class="hidden-sm hidden-md hidden-lg">Mentions:</strong>
        {{#unless editMentionsMode}}
            {{ mentionsString }} <a class="edit-mentions-button" href="#"><i class="fa fa-pencil"></i></a>
        {{else}}
            {{> communityMentionsEditForm}}
        {{/unless}}
    </div>
</template>

<template name="communityMentionsEditForm">
    <input id="edit-mentions" type="text" value="{{mentionsString}}" autofocus="autofocus"/>
</template>