<template name="settings">
    {{> navbar }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>CGSpace Top-Level Communities</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-8">Name</th>
                            <th class="col-md-4">Hash Tag</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each communities}}
                            <tr>
                                <td class="col-md-8">{{ name}}</td>
                                <td class="col-md-4 hashTag">
                                  {{#unless editHashTagMode}}
                                    {{ hashTag }}
                                  {{else}}
                                    <input id="edit-hash-tag" type="text" value="{{hashTag}}" />
                                  {{/unless}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
